./**/*.log
./**/*.zwc
tmp
test
.dockerignore

# ignore zsh rcfiles
src/conf/app/zsh/rc/rc.zsh
src/conf/app/zsh/rc/envar/rc.zsh
src/conf/app/zsh/rc/envar/external.zsh
src/conf/app/zsh/rc/external/rc.zsh
src/conf/app/zsh/rc/keybind/rc.zsh
src/conf/app/zsh/rc/keybind/external.zsh
src/conf/app/zsh/rc/preload/rc.zsh
src/conf/app/zsh/env/rc.zsh
src/conf/app/zsh/env/external.zsh

# ignore zinit rcfiles
src/conf/app/zinit/rc.zsh
src/conf/app/zinit/completion/rc.zsh
src/conf/app/zinit/completion/external.zsh
src/conf/app/zinit/theme/rc.zsh

# ignore created link
src/current/available/app/*
!src/current/available/app/.gitignore
src/current/available/shell/*
!src/current/available/shell/.gitignore
src/current/available/system-package-manager/*
!src/current/available/system-package-manager/.gitignore
src/current/available/system-package-manager/package/*
!src/current/available/system-package-manager/package/.gitignore
src/current/available/user-package-manager/*
!src/current/available/user-package-manager/.gitignore
src/current/available/user-package-manager/package/*
!src/current/available/user-package-manager/package/.gitignore
src/current/bak/*
!src/current/bak/.gitignore
src/current/conf
src/current/bak/pref/preference.json

!.gitignore
