*
/src/*
!/src/
/test/*
!/test/
/src/app/*
!/src/app/
/src/bak/*
!/src/bak/
/src/bin/*
!/src/bin/

# brew
/src/app/brew/*
!/src/app/brew/
!/src/app/brew/rc.sh

# vim
/src/app/vim/*
!/src/app/vim/
!/src/app/vim/rc.vim

# zsh
/src/app/zsh/*
!/src/app/zsh/
!/src/app/zsh/envs.zsh
!/src/app/zsh/keybinds.zsh

# zsh/zinit
/src/app/zsh/zinit/*
!/src/app/zsh/zinit/
!/src/app/zsh/zinit/rc.template.zsh
!/src/app/zsh/zinit/plugins.zsh

# bin/scripts
!/src/bin/init-all.sh
!/src/bin/reset-all.sh

# general
!.gitignore
!README.md
!init.sh
!reset.sh
